@model OCULIS.Models.Placanje

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Placanje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Iznos" class="control-label"></label>
                <input asp-for="Iznos" class="form-control" />
                <span asp-validation-for="Iznos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusPlacanja" class="control-label"></label>
                <select asp-for="StatusPlacanja" class="form-control"></select>
                <span asp-validation-for="StatusPlacanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumPlacanja" class="control-label"></label>
                <input asp-for="DatumPlacanja" class="form-control" />
                <span asp-validation-for="DatumPlacanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNarudzba" class="control-label"></label>
                <select asp-for="IdNarudzba" class="form-control" asp-items="ViewBag.IdNarudzba"></select>
                <span asp-validation-for="IdNarudzba" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
